@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300&display=swap');

/* ##################################### HEADER ########################################################### */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

header {
    height: 10vh;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}


/* ################################################# NAVBAR ###################################################### */

.header .navbar .logo,
.header .navbar .nav-items a {
    color: white;
}

.header .navbar .logo {
    float: left;
    padding-left: 55px;
    padding-top: 35px;
    font-size: x-large;
}

.header .navbar .nav-items {
    float: right;
    word-spacing: 20px;
    padding-top: 35px;
    padding-right: 0px;
    text-transform: uppercase;
    font-size: small;
}

.header .navbar .nav-item {
    display: inline-block;
}

.header .navbar .nav-items a {
    text-decoration: none;
}

.navbar {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header .navbar .nav-items .nav-item a:hover {
    text-decoration: wavy underline white;
}

.lg-heading {
    font-size: 2.25rem;
    font-weight: normal;
}


/* ############################################ CONTAINER ########################################################### */

.container {
    height: 70vh;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

p {
    word-spacing: 10px;
    font-size: small;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.text-red {
    color: red;
}

.text-gray {
    color: #555555;
}

.text-light {
    color: #f4f4f4;
}

.md-heading {
    font-size: 1.5rem;
}


/* ###################################### CONTACT STYLING ########################################################## */

.contact-form {
    padding: 5rem 0;
    background: #f7f7f7;
    height: 95vh;
}

.form-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.form-wrapper .company-address {
    width: 49%;
    background: #fff;
    float: left;
    padding: 1rem;
}

.form-wrapper .company-address i {
    display: inline-block;
    margin-right: 1rem;
    font-size: 2rem;
}

.form-wrapper .company-address h2 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
}

.form-wrapper .form {
    background: #fff;
    width: 49%;
    float: right;
}

.form-wrapper .company-address .address-group img {
    width: 100%;
    object-fit: cover;
    object-position: right;
}


/* ################################### FORM STYLING ############## */

.form-wrapper .form {
    background: #fff;
    width: 49%;
    float: right;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.form h1::after {
    content: '';
    display: block;
    border: 3px solid #ee4758;
    width: 100%;
}

.form-wrapper label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

.form-wrapper .form input {
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group {
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after {
    content: '*';
    color: #e63946;
}

.form-wrapper .form textarea {
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn {
    float: inherit;
    display: block;
    padding: 0.3em 2em;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    border: none;
    background: #e63946;
    cursor: pointer;
    margin-right: 10rem;
}


/* ############################################### FOOTER SECTION ################################################### */

.footer {
    background-color: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
    word-spacing: 40px;
    height: 15vh;
}

.footer-p {
    margin: 1rem;
    font-size: medium;
}
